<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      defer
      type="text/javascript"
      src="/static/js/alpinejs.min.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/css/tailwind_output.css" />
    <title>atproto OAuth Web Service Example</title>
  </head>
  <body class="">
    <header>
      <hgroup>
        <h1>atproto OAuth Web Service Example</h1>
        {% if user %}
        <p>
          Hello
          <span style="font-family: monospace">@{{ user['handle'] }}</span>!
        </p>
        {% endif %}
      </hgroup>
      <nav>
        <ul>
          {% if user %}
          <li><a href="{{ url_for('bsky_post') }}">Create Post</a></li>
          <li><a href="{{ url_for('oauth_refresh') }}">Refresh Token</a></li>
          <li><a href="{{ url_for('oauth_logout') }}">Logout</a> {% else %}</li>

          <li><a href="{{ url_for('bsky_post') }}">Create Post</a></li>
          <li><a href="{{ url_for('oauth_login') }}">Login</a> {% endif %}</li>
        </ul>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
